@using System.Text.Json;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Results.css" />
    <link rel="stylesheet" href="~/css/SaveFlight.css">
    <link rel="stylesheet" href="~/css/SavedFlights.css">
    <link rel="icon" href="~/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/autocomplete.css" />
    <title>Sky Search</title>
</head>
<body>
<header>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index" class="hover-none">
            <img src="@Url.Content("~/images/logo.png")" alt="Site icon">
            <span>Sky Search</span>
        </a>
        <div class="right-nav">
            <div class="user-menu">
                @if (Context.Session.GetString("User") != null)
                {
                <a asp-controller="User" asp-action="SavedFlights">Saved Flights</a>
                <a asp-controller="User" asp-action="Logout" class="logout">Logout</a>

                var userJson = Context.Session.GetString("User");
                var user = JsonSerializer.Deserialize<User>(userJson);
                <span class="username">
                    <a asp-controller="Home" asp-action="Index" class="hover-none">@user?.Username</a>
                </span>
                }
                else
                {
                <a asp-controller="User" asp-action="Login">Sign in</a>
                <a asp-controller="User" asp-action="Register" class="sing-up">Sign up</a>
                }
            </div>
        </div>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>

<footer>
    <p>
        @@ 2024 Sky Search. All rights reserved.
    </p>
</footer>

<script src="~/js/autocomplete.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>