<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/_Layout.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/css/Results.css" />
    <link rel="icon" href="~/images/Flight-PNG-Image-HD.png" type="image/x-icon">
    <title>Sky Search</title>
</head>
<body>
<header>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index" class="hover-none">
            <img src="@Url.Content("~/images/Flight-PNG-Image-HD.png")" alt="Site icon">
            <span>Sky Search</span>
        </a>
        <div class="right-nav">
            <div class="user-menu">
                @if (Context.Session.GetString("User") != null)
                {
                <a asp-controller="User" asp-action="SavedFlights">Saved Flights</a>
                <a asp-controller="User" asp-action="Logout" class="logout">Logout</a>
                @* <a asp-controller="User" asp-action="Delete">Delete account</a> *@
                }
                else
                {
                <a asp-controller="User" asp-action="Login">Sing in</a>
                <a asp-controller="User" asp-action="Register" class="sing-up">Sing up</a>
                }
            </div>
        </div>
    </nav>
</header>
<main role="main">
    @RenderBody()
</main>

<footer>
    <p>
        2024 - Sky Search - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </p>
</footer>
</body>
</html>
