@{
    Layout = null;
    var errorMessage = ViewBag.ErrorMessage;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sing in</title>
    <link rel="icon" href="~/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
<div class="top-container">
    <img src="~/images/user-icon.png" alt="User icon" class="user-icon">
    <h1>Sign in</h1>
</div>

<form method="post" asp-controller="User" asp-action="Login">
    <input type="text" name="username" placeholder="Username" required autocomplete="off"/>
    <input type="password" name="password" placeholder="Password" required autocomplete="off"/>
    <button type="submit">Login</button>
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error-message">@errorMessage</div>
    }
</form>
<p class="bottom-hint">
    <a asp-controller="User" asp-action="Register">Sign up if you don't have an account</a>
</p>
</body>
</html>