@{
    Layout = "_Layout";
}

<div class="results-container">
    <h2>@ViewBag.Message</h2>

    <p class="not-found"><a asp-controller="" asp-action="">Return to search page</a></p>

    <a asp-controller="User" asp-action="SavedFlights" class="go-to-search-link">
        @if (ViewBag.Message == "The flight was successfully saved!")
        {
            <img class="result-img" src="~/images/ok-icon.png" alt="" style="height: 12em; margin-top: 5em;">
        }
        else
        {
            <img class="result-img" src="~/images/attention-icon.png" alt="">
        }
        <button class="go-to-search">Go to saved flights</button>
    </a>
</div>