<style>
    .privacy-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacy-container h1 {
        margin-bottom: 1em;
    }
</style>

<div class="privacy-container">
    <h1>Privacy Policy</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
