:root {
    --bd-color-first: #1d1d1d;
    --bd-color-second: #252525;
    --shadow-color: #151515;
    --dark-blue: #222a39;
    --light-blue: #21e6ff;
    --dark-green: #005B41;
    --light-green: #008170;
    --link-gray: #a8a8a8;
    --input-gray: #4e565f;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bd-color-first);
    font-size: 16px;
    color: white;
}

header {
    font-family: "Berlin Sans FB", serif;
    background-color: var(--bd-color-second);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--link-gray);
    display: flex;
    align-items: center;
    height: 2.5em;
    position: relative; 
    transition: border-bottom 0.2s ease, color 0.2s ease;
}

a:hover {
    color: white;
}

.hover-none {
    color: white;
}

.hover-none:hover {
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 1.7em;
    padding: 0.5em 1em 0.5em 1em;
    max-height: 2em;
    justify-content: space-between;
}

.navbar a {
    display: flex;
    align-items: center;
}

.navbar span {
    margin-left: 0.5em;
}

.navbar img {
    height: 2.5em;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav span {
    font-family: Corbel, serif;
    margin-right: 1em;
}

.user-icon {
    filter: invert(60%);
    transition: filter 0.2s ease;
}

main {
    flex-grow: 1;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1.2em;
    margin-top: 10em;
    font-family: Corbel, serif;
    font-weight: 700;
    font-size: 1.1em;
    background-color: var(--bd-color-second);
}

footer a {
    display: inline;
    color: white;
    border: none;
    transition: color 0.2s ease;
}

footer a:hover {
    color: var(--light-green);
    border: none;
}

.user-menu {
    display: flex;
    align-items: center;
    font-family: Corbel, serif;
}

.sing-up {
    margin-left: 1em;
    background-color: #0790A3FF;
    height: 2em;
    border-radius: 0.5em;
    padding-inline: 0.3em;
    color: white;
    font-weight: 700;
    transition: background-color 0.2s ease;
}

.sing-up:hover {
    background-color: #09555e;
}

.logout {
    margin-left: 1em;
}

.user-menu .username {
    font-family: "Berlin Sans FB", serif;
    margin-left: 1em;
}

