* {
    margin: 0;
    padding: 0;
}

main {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
}

.index-container {
    width: 45em;
}

.main-search-form {
    background: var(--dark-blue);
    border-radius: 1.35em;
    box-shadow: 0 0.3em 1em var(--shadow-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75em;
    column-gap: 1.35em;
    padding: 1.75em;
    margin-top: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

label {
    position: absolute;
    bottom: 2.65em;
    left: 1.25em;
    font-size: 0.85em;
    border-radius: 7px;
    background: var(--dark-blue);
    padding: 0 0.35em;
    color: var(--light-blue);
}

input[type="text"],
input[type="date"] {
    margin-top: 1.5em;
}

.bottom-div {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

input[type="text"],
input[type="date"] {
    margin-top: 0.35em;
    padding: 1.25em;
    border: none;
    border-radius: 1.25em;
    background: var(--input-gray);
    color: white;
}

select {
    padding: 0.75em;
    border: none;
    border-radius: 0.75em;
    background: var(--input-gray);
    color: white;
    height: 38px;
    display: flex;
    align-items: center;
}

.submit-button {
    grid-column: span 3;
    padding: 0.75em;
    background-color: var(--dark-green);
    border: none;
    border-radius: 0.75em;
    color: white;
    font-size: 1.15em;
    cursor: pointer;
    margin-top: 0.75em;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--light-green);
}

.recent-searches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;
}

.recent-searches-not-login {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}

.recent-searches-not-login p {
    font-size: 1.1em;
}

.history-img {
    height: 7em;
    margin-bottom: 1.5em;
}

.history-link-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    font-size: 1.1em;
    height: 4em;
    width: 28.5em;
    padding-inline: 1.5em;
    margin-bottom: 1em;
    border-radius: 1em;
    transition: background-color 0.2s ease;
}

.history-link-button:hover {
    background-color: #324362;
}

.history-icon-2 {
    height: 2em;
    filter: invert(100%);
    margin-right: 1.5em;
}

.history-info-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}