:root {
    --bd-color-first: #1d1d1d;
    --bd-color-second: #252525;
    --shadow-color: #151515;
    --dark-green: #005B41;
    --light-green: #008170;
    --input-gray: #4e565f;
    --link-gray: #a8a8a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    font-size: 20px;
    background-color: var(--bd-color-first);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.top-container {
    display: flex;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 1.5em;
}

.user-icon {
    height: 5em;
}

h1 {
    margin-left: 0.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: var(--bd-color-second);
    box-shadow: 0 0.4em 0.8em var(--shadow-color);
    border-radius: 1.7em;
    width: 18em; 
}

input {
    padding: 1em; 
    margin-bottom: 1em;
    background-color: var(--input-gray);
    border: none;
    border-radius: 1em;
    color: white;
    width: 100%; 
    height: 3.5em;
}

button {
    font-size: 1em;
    padding: 1.2em; 
    margin-top: 1em;
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 1.25em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%; 
    height: 3.5em;
}

button:hover {
    background-color: var(--light-green);
}

.error-message {
    text-align: center;
    color: red;
    font-size: 0.7em;
    padding-top: 1.5em;
}

.bottom-hint {
    margin-top: 1.5em;
}

.bottom-hint a {
    text-decoration: none;
    color: var(--link-gray);
}

.bottom-hint a:hover {
    color: white;
}
