:root {
    --bd-color-first: #1d1d1d;
    --bd-color-second: #252525;
    --shadow-color: #151515;
    --dark-green: #005B41;
    --light-green: #008170;
    --input-gray: #4e565f;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 20px;
    background-color: var(--bd-color-first);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 30em;
    width: 100%;
    padding: 2em;
    background-color: var(--bd-color-second);
    box-shadow: 0 0.4em 0.8em var(--shadow-color);
    border-radius: 1.7em;
}

input {
    padding: 0.8rem;
    margin-bottom: 1rem;
    background-color: var(--input-gray);
    border: none;
    border-radius: 1.25em;
    color: white;
}

button {
    padding: 1rem;
    margin-top: 1em;
    background-color: var(--dark-green);
    color: white;
    border: none;
    border-radius: 1.25em;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--light-green);
}

.error-message {
    color: red;
    font-size: 0.9rem;
    padding-top: 1.5em;
}