.results-container {
    font-size: 13px;
}

.not-found {
    font-size: 3em;
    margin-top: 1em;
}

.not-found-img {
    height: 20em;
    margin-top: 7em;
    margin-bottom: 3em;
}

.flight-card {
    display: grid;
    grid-template-columns: 4fr 1fr 12fr;
    grid-template-rows: auto;
    row-gap: 0.65em;
    column-gap: 1.25em;
    background: var(--dark-blue);
    border-radius: 1.25em;
    padding: 1.25em;
    padding-inline: 1.875em;
    margin-top: 1.5em;
    box-shadow: 0 0.3em 1em var(--shadow-color);
    transform-origin: center;
}

.first-row {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.carriers-container {
    display: flex;
    flex-direction: column;
}

.carriers {
    width: fit-content;
    background-color: var(--dark-green);
    padding: 0.45em;
    padding-inline: 0.8em;
    border-radius: 1.125em;
}

.save-flight-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.85em;
    padding-inline: 1.5em;
    background-color: #979733;
    text-decoration: none;
    color: white;
    border-radius: 3.125em;
    border: none;
    transition: background-color 0.2s ease;
}

.save-flight-button:hover {
    background-color: #6f6f2b;
}

.time {
    grid-column: 1/2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.time-day {
    margin-left: 0.45em;
    font-size: 0.65em;
    font-weight: 400;
}

.transfers-time-container {
    display: flex; 
    flex-direction: column;
    transform: scale(0.6);
}

.airport {
    grid-column: 3/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

.transfers-airport {
    font-weight: normal;
    font-size: 1.2em;
}

.timeline {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transfers-timeline {
    grid-row: 2 / 5;
}

.transfers-2-timeline {
    grid-row: 2 / 6;
}

.circle-bottom, .circle-top {
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    border: 0.125em solid white;
}

.circle-bottom {
    background-color: white;
}

.circle-top {
    background-color: transparent;
}

.line {
    width: 0.125em;
    height: 2.5em;
    background-color: white;
}

.transfers-line {
    height: 3.7em;
}

.transfers-2-line {
    height: 4.25em;
}

.bottom-border {
    grid-column: span 3;
    height: 0;
    border-top: 0.01em solid #848484;
    margin-inline: 1.35em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.bottom-information {
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transfers-and-duration {
    display: flex;
    align-items: center;
}

.transfers {
    width: fit-content;
    background-color: var(--input-gray);
    padding: 0.4375em;
    padding-inline: 0.8125em;
    border-radius: 1.125em;
}

.duration {
    margin-left: 1.25em;
    font-size: 1.375em;
}

.price-and-booking-button {
    display: flex;
}

.price {
    display: flex;
    align-items: center;
    margin-right: 1em;
    font-size: 2em;
    color: white;
    font-weight: 600;
}

.booking-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.85em;
    padding-inline: 1.5em;
    font-size: 1.375em;
    background-color: var(--dark-green);
    text-decoration: none;
    color: white;
    border-radius: 3.125em;
    border: none;
    transition: background-color 0.2s ease, padding-inline 0.2s ease;
}

.booking-url:hover {
    background-color: var(--light-green);
    padding-inline: 2em;
}

/*.flights-with-transfers {*/
/*    display: none;*/
/*}*/