.success-img {
    height: 12em;
    margin-top: 5em;
    margin-left: 1.5em;
}

.attention-img {
    height: 12em;
    margin-top: 5em;
}

.not-found {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.not-found a {
    color: white;
}

.not-found a:hover {
    color: var(--light-green);
}