.result-img {
    height: 12em;
    margin-top: 5em;
}

.not-found {
    font-size: 24px;
    display: flex;
    align-items: center;
}

.return-to-search {
    cursor: pointer;
    color: white;
    background-color: var(--bd-color-first);
    border: none;
    font-size: 24px;
    transition: color 0.2s ease;
}

.return-to-search:hover {
    background-color: var(--bd-color-first);
    color: var(--light-green);
}